@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html,
body,
#root {
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
html .App,
body .App,
#root .App {
  font-family: "Montserrat", sans-serif;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);
}
html .App .bubble-page,
body .App .bubble-page,
#root .App .bubble-page {
  box-shadow: 20px 20px 10px blueviolet;
  background-color: #1b1b1b;
  width: auto;
  margin-top: 90px;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  height: inherit;
  border-radius: 20px;
  border: 20px inset #c0c0c0;
  text-align: center;
  padding: 1rem;
}
html .App .bubble-page .spinner-center,
body .App .bubble-page .spinner-center,
#root .App .bubble-page .spinner-center {
  width: 90vw;
  margin-top: -5.5rem;
  margin-bottom: -8rem;
  color: #fff;
  transform: scale(0.6);
}
html .App .bubble-page .spinner-center .spinner,
body .App .bubble-page .spinner-center .spinner,
#root .App .bubble-page .spinner-center .spinner {
  border-radius: 500px;
  z-index: 0;
}
html .App .bubble-page .bubble-nav,
body .App .bubble-page .bubble-nav,
#root .App .bubble-page .bubble-nav {
  margin-bottom: 2rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html .App .bubble-page .bubble-nav .app-nav,
body .App .bubble-page .bubble-nav .app-nav,
#root .App .bubble-page .bubble-nav .app-nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: 0;
}
html .App .bubble-page .bubble-nav .app-nav .login-form,
body .App .bubble-page .bubble-nav .app-nav .login-form,
#root .App .bubble-page .bubble-nav .app-nav .login-form {
  display: none;
}
html .App .bubble-page .bubble-nav .links,
body .App .bubble-page .bubble-nav .links,
#root .App .bubble-page .bubble-nav .links {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  height: 100%;
}
html .App .bubble-page .bubble-nav .links .nav-link a,
body .App .bubble-page .bubble-nav .links .nav-link a,
#root .App .bubble-page .bubble-nav .links .nav-link a {
  font-size: 12pt;
  margin: 0 2rem;
}
html .App .bubble-page h2,
body .App .bubble-page h2,
#root .App .bubble-page h2 {
  margin-bottom: 2rem;
}
html .App .home-wrapper,
body .App .home-wrapper,
#root .App .home-wrapper {
  height: 100%;
}
html .App svg,
body .App svg,
#root .App svg {
  height: 100%;
}
html .App .app-nav,
body .App .app-nav,
#root .App .app-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
html .App .app-nav .login-nav,
body .App .app-nav .login-nav,
#root .App .app-nav .login-nav {
  width: 25%;
  display: inline-flex;
  flex-flow: column;
  height: 100%;
  margin-left: 4rem;
  align-content: space-between;
  justify-items: center;
}
html .App .app-nav .login-nav .login-form,
body .App .app-nav .login-nav .login-form,
#root .App .app-nav .login-nav .login-form {
  width: 40%;
  margin-top: 0.8rem;
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}
html .App .app-nav .login-nav .login-form input,
body .App .app-nav .login-nav .login-form input,
#root .App .app-nav .login-nav .login-form input {
  margin-bottom: 5px;
  border-radius: 2px;
  padding-left: 0.5rem;
  height: 1.2rem;
}
html .App .app-nav .login-nav .login-form button,
body .App .app-nav .login-nav .login-form button,
#root .App .app-nav .login-nav .login-form button {
  width: 70%;
  padding: 0.1rem;
  align-self: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 9pt;
}
html .App .app-nav .login-nav .login-form button:hover,
body .App .app-nav .login-nav .login-form button:hover,
#root .App .app-nav .login-nav .login-form button:hover {
  border: 4px outset rgba(100, 60, 200, 0.4);
}
html .App .app-nav .links,
body .App .app-nav .links,
#root .App .app-nav .links {
  height: 90px;
  width: 25%;
  display: inline-flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: space-evenly;
}
html .App .app-nav .links .nav-link:hover,
body .App .app-nav .links .nav-link:hover,
#root .App .app-nav .links .nav-link:hover {
  background-color: #000;
  color: #fff;
}
html .App .app-nav .links .nav-link,
body .App .app-nav .links .nav-link,
#root .App .app-nav .links .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 23pt;
  border-radius: 10px;
}
html .App .hero,
body .App .hero,
#root .App .hero {
  border-top: 2px solid black;
  width: 75%;
  text-align: center;
  padding-top: 4-rem;
}
html .App .hero h1,
body .App .hero h1,
#root .App .hero h1 {
  font-size: 40pt;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 3rem;
}
html .App .home-image,
body .App .home-image,
#root .App .home-image {
  transform: scale(0.9);
  margin-top: 3rem;
}
html .App .home-image img,
body .App .home-image img,
#root .App .home-image img {
  border-radius: 30px;
}
html .App .spacer,
body .App .spacer,
#root .App .spacer {
  display: block;
  height: auto;
  flex-grow: unset;
}
html .App .home-wrapper,
body .App .home-wrapper,
#root .App .home-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
html .App .bubble-wrap,
body .App .bubble-wrap,
#root .App .bubble-wrap {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .App .bubble-wrap h2,
body .App .bubble-wrap h2,
#root .App .bubble-wrap h2 {
  color: #fff;
}
html .App .colors-wrap,
body .App .colors-wrap,
#root .App .colors-wrap {
  height: auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding-top: 1rem;
}
html .App .colors-wrap ul,
body .App .colors-wrap ul,
#root .App .colors-wrap ul {
  list-style: none;
  text-align: start;
}
html .App .colors-wrap ul li,
body .App .colors-wrap ul li,
#root .App .colors-wrap ul li {
  cursor: pointer;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
html .App .add-wrapper,
body .App .add-wrapper,
#root .App .add-wrapper {
  border: 6px outset #017511;
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 3rem 1rem 2rem 1rem;
  color: #fff;
  background-color: #094627;
}
html .App .add-wrapper legend,
body .App .add-wrapper legend,
#root .App .add-wrapper legend {
  color: green;
  font-size: 14pt;
}
html .App .add,
body .App .add,
#root .App .add {
  font-size: 18pt;
  color: green;
}
html .App .delete,
body .App .delete,
#root .App .delete {
  color: #d85757;
}
html .App .color-box,
body .App .color-box,
#root .App .color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}
html .App .add-wrap,
body .App .add-wrap,
#root .App .add-wrap {
  display: flex;
  height: 15px;
  flex-flow: row nowrap;
  align-items: center;
}
html .App .add-wrap p,
body .App .add-wrap p,
#root .App .add-wrap p {
  margin: 0 35px;
  font-size: 12pt;
  font-weight: bold;
}
html .App .edit-wrap,
body .App .edit-wrap,
#root .App .edit-wrap {
  border: 6px outset #4e4e4e;
  padding: 1.5rem 5rem;
  justify-items: center;
  margin: 3rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  min-width: 30vw;
}
html .App .edit-wrap form,
body .App .edit-wrap form,
#root .App .edit-wrap form {
  max-width: 75%;
  min-width: 55%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
html .App .edit-wrap form legend,
body .App .edit-wrap form legend,
#root .App .edit-wrap form legend {
  padding-left: 40px;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 16px;
}
html .App .edit-wrap form label,
body .App .edit-wrap form label,
#root .App .edit-wrap form label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 4px 36px 4px 40px;
  margin-left: -2rem;
  height: 15px;
}
html .App .edit-wrap form p,
body .App .edit-wrap form p,
#root .App .edit-wrap form p {
  display: flex;
  flex-flow: row nowrap;
  font-size: 10pt;
}
html .App .edit-wrap form input,
body .App .edit-wrap form input,
#root .App .edit-wrap form input {
  width: 110px;
  height: 20px;
  margin-bottom: 1rem;
}
html .App .edit-wrap .button-row,
body .App .edit-wrap .button-row,
#root .App .edit-wrap .button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;
}
html .App .edit-wrap .button-row button,
body .App .edit-wrap .button-row button,
#root .App .edit-wrap .button-row button {
  border: none;
  background-color: black;
  color: white;
  padding: 3px 8px;
  margin-top: 16px;
}

@media screen and (max-width: 950px) {
  .bubble-nav {
    height: 120px;
  }
  .bubble-nav .app-nav {
    height: 100%;
  }
  .bubble-nav .app-nav .links {
    text-align: center;
    width: 100%;
  }
  .bubble-nav .login-nav {
    position: absolute;
    left: -999px;
  }
  .bubble-nav .login-nav .login-form {
    margin-top: 1rem;
    width: 10rem;
    height: auto;
    padding: 0.7rem;
  }
  .bubble-nav .login-nav .login-form input {
    margin-bottom: 1px;
  }
  .bubble-nav .links {
    display: flex;
    border: none;
    flex-flow: column;
    justify-content: center;
    height: auto;
    align-items: center;
    width: 100%;
  }
  .bubble-nav .links .nav-link,
.bubble-nav .links a {
    position: relative;
    width: 100%;
    font-size: 16pt;
    margin-right: 3rem;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .App {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column-reverse nowrap;
  }
  .App .home-wrapper .app-nav {
    height: auto;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .App .home-wrapper .app-nav .login-nav {
    height: auto;
    min-height: 100px;
  }
  .App .home-wrapper .app-nav .login-nav .login-form {
    margin-top: 1rem;
    width: 4rem;
  }
  .App .home-wrapper .app-nav .links {
    display: flex;
    border: none;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
    align-items: center;
    margin-left: 1rem;
    width: 10rem;
  }
  .App .home-wrapper .app-nav .links .nav-link {
    font-size: 10pt;
  }
  .App .home-wrapper .hero {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .App .home-wrapper .hero h1 {
    margin: 0;
  }
  .App .bubble-page {
    width: 100vw;
    border: none;
    box-shadow: none;
    flex-flow: column wrap;
    height: auto;
    margin-top: 0;
    border-radius: 0;
  }
  .App .bubble-page .spinner-center .spinner {
    transform: scale(0.75);
  }
  .App .colors-wrap {
    text-align: center;
    box-shadow: none;
    background-color: #fff;
    height: auto;
  }
  .App .spacer {
    visibility: none;
  }
}
@media screen and (max-width: 600px) {
  .App .app-nav {
    display: flex;
    flex-flow: row nowrap;
  }
  .App .app-nav .links {
    margin: 0;
  }
  .App .login-nav {
    justify-content: space-around;
  }
  .App .bubble-page {
    width: 100%;
    border: none;
    padding-top: 6rem;
    box-shadow: none;
    flex-flow: column;
    height: 100vh;
    margin: 0 auto;
  }
  .App .bubble-page .spinner-center {
    color: #fff;
  }
  .App .bubble-page .spinner-center .spinner {
    transform: scale(0.6);
  }
  .App .bubble-page .colors-wrap {
    box-shadow: none;
    background-color: #fff;
    width: 90vw;
    height: auto;
  }
  .App .bubble-page .bubble-wrap {
    width: auto;
  }
  .App .bubble-page svg {
    transform: scaleY(1);
  }
  .App .edit-wrap {
    border: 6px outset #4e4e4e;
    padding: 0.5rem 1.2rem;
    justify-items: center;
    margin: 3rem 1rem 0 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
