@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root {
  box-sizing: border-box;
  width: 100vw;
  height: 1400px;
  margin: 0 auto;
  padding: 0;

  .App {
    font-family: "Montserrat", sans-serif;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.493);

    .home-wrapper {
      height: auto;
    }

    svg {
      height: 100%;
    }

    .app-nav {
      height: 120px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: space-around;

      .login-nav {
        width: 25%;
        display: inline-flex;
        flex-flow: column nowrap;
        height: 100%;
        margin-left: 8rem;
        align-content: space-between;
        justify-items: center;

        .login-form {
          width: 40%;
          margin-top: 0.8rem;
          display: flex;
          flex-flow: column nowrap;

          input {
            margin-bottom: 10px;
            border-radius: 2px;
            padding-left: 0.5rem;
            height: 1.2rem;
          }

          button {
            width: 70%;
            padding: 0.25rem;
            align-self: center;
            border-radius: 2px;
            font-weight: bold;
          }

          button:hover {
            border: 4px outset rgba(100, 60, 200, 0.4);
          }
        }
      }

      .links {
        height: 100%;
        width: 45%;
        display: inline-flex;
        justify-self: flex-end;
        align-items: center;
        justify-content: space-evenly;
        // margin-top: 0.3rem;
        // margin-left: 20rem;
        // margin-bottom: 2rem;

        .nav-link:hover {
          background-color: #000;
          color: #fff;
        }

        .nav-link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 45%;
          text-decoration: none;
          color: #000;
          font-weight: 800;
          font-size: 25pt;
        }
      }
    }

    .hero {
      margin-bottom: 2rem;
      border-top: 2px solid black;
      width: 75%;
      text-align: center;
      padding-top: 4-rem;

      h1 {
        font-size: 40pt;
        font-weight: lighter;
      }
    }

    .bubble-page {
      box-shadow: 20px 20px 10px blueviolet;
      background-color: #1b1b1b;
      width: 55vw;
      margin-top: 1rem;
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-items: space-around;
      height: auto;
      min-height: 100%;
      border-radius: 20px;
      border: 20px inset #c0c0c0;
      text-align: center;

      .spinner-center {
        color: #fff;
        transform: scale(0.6);
        .spinner {
          border-radius: 500px;
        }
      }

      .bubble-nav {
        height: 90px;
        margin-bottom: 2rem;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;

        .app-nav {
          display: flex;
          align-content: center;
          height: 100%;
          width: 100%;

          .login-form {
            display: none;
          }
        }

        .links {
          display: flex;
          width: 100%;
          justify-items: space-around;
          height: 100%;

          a {
            margin: 0 2rem;
          }
        }
      }

      h2 {
        margin-bottom: 2rem;
      }
    }

    .spacer {
      display: block;
      height: auto;
      flex-grow: unset;
    }

    .home-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;
    }

    .bubble-wrap {
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: #fff;
      }
    }

    .colors-wrap {
      height: auto;
      width: 300px;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

      ul {
        list-style: none;
        text-align: start;

        li {
          cursor: pointer;
          padding: 6px 0;
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }

    .add-wrapper {
      border: 6px outset rgb(1, 117, 17);
      padding: 1.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 3rem 1rem 2rem 1rem;
      color: #fff;
      background-color: rgb(9, 70, 39);

      legend {
        color: green;
        font-size: 14pt;
      }
    }

    .add {
      font-size: 18pt;
      color: green;
    }

    .delete {
      color: rgb(216, 87, 87);
    }

    .color-box {
      height: 16px;
      width: 16px;
      border: 1px lightgray solid;
      margin-right: 36px;
    }

    .add-wrap {
      display: flex;
      height: 15px;
      flex-flow: row nowrap;
      align-items: center;

      p {
        margin: 0 35px;
        font-size: 12pt;
        font-weight: bold;
      }
    }

    .edit-wrap {
      border: 6px outset rgb(78, 78, 78);
      padding: 1.5rem;
      justify-items: center;
      margin: 3rem 1rem 2rem 1rem;

      form {
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        legend {
          padding-left: 40px;
          font-weight: bold;
          text-align: left;
          text-decoration: underline;
          margin-bottom: 16px;
        }

        label {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          padding: 4px 36px 4px 40px;
          margin-left: -2rem;
          height: 15px;
        }

        p {
          display: flex;
          flex-flow: row nowrap;
          font-size: 10pt;
        }

        input {
          width: 110px;
          height: 20px;
          margin-bottom: 1rem;
        }
      }

      .button-row {
        display: flex;
        justify-content: space-between;
        padding: 0 36px 0 41px;

        button {
          border: none;
          background-color: black;
          color: white;
          padding: 3px 8px;
          margin-top: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .bubble-nav {
    .app-nav {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    .login-nav {
      position: absolute;
      left: -999px;
      .login-form {
        margin-top: 1rem;
        width: 10rem;
        height: auto;
        padding: 0.7rem;

        input {
          margin-bottom: 1px;
        }
      }
    }

    .links {
      display: flex;
      border: none;
      flex-flow: column nowrap;
      justify-content: center;
      height: auto;
      align-items: center;
      width: 100%;

      .nav-link,
      a {
        width: 100%;
        font-size: 16pt;
        margin-right: 3rem;
        display: block;
      }
    }
  }
}

// responsive breakpoints for tablet screens
@media screen and (max-width: 850px) {
  .App {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column-reverse nowrap;

    .app-nav {
      height: auto;
      justify-content: center;
      margin-bottom: 2rem;

      .login-nav {
        height: auto;
        min-height: 100px;

        .login-form {
          margin-top: 1rem;
          width: 4rem;
        }
      }

      .links {
        display: flex;
        border: none;
        flex-flow: row nowrap;
        justify-content: center;
        height: auto;
        align-items: center;
        margin-left: 1rem;
        width: 10rem;

        .nav-link,
        a {
          font-size: 16pt;

          margin-right: 3rem;
          display: block;
        }
      }
    }

    .hero {
      margin-top: 4rem;
      margin-bottom: 2rem;

      h1 {
        margin: 0;
      }
    }

    .bubble-page {
      width: 100vw;
      border: none;
      box-shadow: none;
      flex-flow: column nowrap;
      height: 100vh;
      margin-top: 0;
      border-radius: 0;

      .spinner-center {
        .spinner {
          transform: scale(0.75);
        }
      }
    }

    .colors-wrap {
      text-align: center;
      box-shadow: none;
      background-color: #fff;
      height: auto;
    }

    .spacer {
      visibility: none;
    }
  }
}

// responsive breakpoints for mobile devices
@media screen and (max-width: 600px) {
  .App {
    .app-nav {
      display: flex;
      flex-flow: row nowrap;
      .links {
        margin: 0;
      }
    }
    .login-nav {
      justify-content: space-around;
    }

    .bubble-page {
      width: 100%;
      border: none;
      padding-top: 6rem;
      box-shadow: none;
      flex-flow: column nowrap;
      height: 100vh;
      margin: 0 auto;

      .spinner-center {
        color: #fff;
        .spinner {
          transform: scale(0.6);
        }
      }

      .colors-wrap {
        box-shadow: none;
        background-color: #fff;
        width: 90vw;
        height: auto;
      }

      .bubble-wrap {
        width: auto;
      }

      svg {
        transform: scaleY(1);
      }
    }

    .edit-wrap {
      border: 6px outset rgb(78, 78, 78);
      padding: 0.5rem 1.2rem;
      justify-items: center;
      margin: 3rem 1rem 0 1rem;
    }
  }
}
